
body{
    font-family: Lato, Helvetica, Arial;
}

main{
    width: 85%;
    margin: 0 auto;
    padding: 5px;
}

h1{
    width:100%;
    font-size: 44px;
}
h3{
    font-size: 20px;
}

p{
    font-weight: 500;
    font-size: 17px;
}

input[type="button"]{
    font-size: 14px;
    height: 30px;
    width: 150px;
    border: 1px solid #000000;
    border-radius: 7px;
}

#desc{
    font-size: 22px;
}

#projetos{
    margin-top: 50px;
    text-align: center;
    display:inline-flex;
    justify-content:space-around;
}#projetos div{
    width:28%;
    padding: 10px;
    
}

.projeto p{
    height: 80px;
}

.imagem_projeto{
    height: 100px;
}